﻿<div ng-controller="KeyValueEditorDialogController">
    <form name="insertkeyvalue_form" novalidate ng-submit="submit(dialogData)">
        <div class="umb-panel">
            <div class="umb-panel-body no-header umb-scrollable">
                <umb-control-group label="Key">
                    <input type="text" class="umb-editor" ng-model="dialogData.key" ng-disabled="dialogData.config.autoGenerateKey" required />
                </umb-control-group>
                <umb-control-group label="Value">
                    <input type="text" class="umb-editor" ng-model="dialogData.value" required />
                </umb-control-group>
                <div ng-show="dialogData.config.useDescription">
                    <umb-control-group label="Description (optional)">
                        <input type="text" class="umb-editor" ng-model="dialogData.description" />
                    </umb-control-group>
                </div>
            </div>
            <div class="umb-panel-footer">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <a class="btn btn-link" ng-click="close()">
                        <localize key="cancel" />
                    </a>
                    <button type="submit" class="btn btn-primary" ng-disabled="!insertkeyvalue_form.$valid">
                        <localize key="buttons_save">Save</localize>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>